
// text colors
$primary-color:#E6E5EA;
$secondary-color: #817D92;
$neon-green: #A4FFAF;


//background colos
$body-backgroudn: #08070B;
$form-Backgroud: #24232C;

@mixin flex-row {
    display: flex;
    align-items: center;
}


body {
    background-color: $body-backgroudn;
    color: $primary-color;
    padding: 0px 16px;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}


.generator--main {
    max-width: 540px;
    text-align: center;
    margin-top: 64px;

    .main-header {
        margin-bottom: 16px;

        h5 {
            font-size: 16px;
            font-weight: 700;
            color: $secondary-color;
            margin-bottom: 16px;
        }

        .generated-password--box {

            background-color: $form-Backgroud;
            @include flex-row();
            justify-content: space-between;
            padding: 16px;
            box-sizing: border-box;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 1.5px;

            .copy-icon {
                width: 18px;
                height: 20px;
                cursor: pointer;
            }
        }
    }


    .generator-form {
        background-color: $form-Backgroud;
        padding: 16px 21px;
        box-sizing: border-box;
        text-align: left;



        // ინფუთიდ დეფაულტ სტილები 
        // გასანულებელია მოზილას ბრაუზერისთვის

        .input-range--div {
            margin-bottom: 32px;
            
            .Character-length--box {
                @include flex-row();
                justify-content: space-between;
                margin-bottom: 23px;

                font-size: 16px;
                font-weight: 700;

                .Characters-quantity {
                    font-size: 24px;
                    color: $neon-green;
                }


            }

            .range-input--container {
                box-sizing: border-box;
                @include flex-row();
                background-color: #18171F;
                position: relative;

                .input-range {
                    -webkit-appearance: none;
                    appearance: none;
                    background: none;
                    margin: 0;
                    height: 8px;
                    width: 100%;
                    z-index: 1;
                }
                
                .input-range::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: #E6E5EA;
                    cursor: pointer;
                }

                .input-range::-webkit-slider-thumb:hover {
                    background-color: #fff;
                }



                .input-range--truck {
                    width: 50%;
                    height: 8px;
                    background-color: aquamarine;
                    position: absolute;
                    z-index: 0;
                }
            }

            

        }

        .checkbox-list {

            margin-bottom: 32px;

            li {
                margin-bottom: 17px;
                &:last-child {
                    margin: 0;
                }

                .input-checkbox {
                    display: none;
                }

                .checkbox-label {
                    font-size: 16px;
                    font-weight: 700;
                    position: relative;
                    padding-left: 40px;  
                    cursor: pointer;                  
                }

                .checkbox-label::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 2px solid $primary-color;
                    box-sizing: border-box;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }

                .checkbox-label::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 5px;
                    border-bottom: 3px solid $form-Backgroud;
                    border-left: 3px solid $form-Backgroud;
                    left: 3.5px;
                    top: 4.5px;
                    transform: rotate(-45deg);
                    z-index: 1;
                }

                .input-checkbox:checked + .checkbox-label::after {
                    background-color: $neon-green;
                    border: none;
                }

            }
        }


        
    }


}

