body {
  background-color: #08070B;
  color: #E6E5EA;
  padding: 0px 16px;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

.generator--main {
  max-width: 540px;
  text-align: center;
  margin-top: 64px;
}
.generator--main .main-header {
  margin-bottom: 16px;
}
.generator--main .main-header h5 {
  font-size: 16px;
  font-weight: 700;
  color: #817D92;
  margin-bottom: 16px;
}
.generator--main .main-header .generated-password--box {
  background-color: #24232C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.generator--main .main-header .generated-password--box .copy-icon {
  width: 18px;
  height: 20px;
  cursor: pointer;
}
.generator--main .generator-form {
  background-color: #24232C;
  padding: 16px 21px;
  box-sizing: border-box;
  text-align: left;
}
.generator--main .generator-form .input-range--div {
  margin-bottom: 32px;
}
.generator--main .generator-form .input-range--div .Character-length--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 700;
}
.generator--main .generator-form .input-range--div .Character-length--box .Characters-quantity {
  font-size: 24px;
  color: #A4FFAF;
}
.generator--main .generator-form .input-range--div .range-input--container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #18171F;
  position: relative;
}
.generator--main .generator-form .input-range--div .range-input--container .input-range {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  margin: 0;
  height: 8px;
  width: 100%;
  z-index: 1;
}
.generator--main .generator-form .input-range--div .range-input--container .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #E6E5EA;
  cursor: pointer;
}
.generator--main .generator-form .input-range--div .range-input--container .input-range::-webkit-slider-thumb:hover {
  background-color: #fff;
}
.generator--main .generator-form .input-range--div .range-input--container .input-range--truck {
  width: 50%;
  height: 8px;
  background-color: aquamarine;
  position: absolute;
  z-index: 0;
}
.generator--main .generator-form .checkbox-list {
  margin-bottom: 32px;
}
.generator--main .generator-form .checkbox-list li {
  margin-bottom: 17px;
}
.generator--main .generator-form .checkbox-list li:last-child {
  margin: 0;
}
.generator--main .generator-form .checkbox-list li .input-checkbox {
  display: none;
}
.generator--main .generator-form .checkbox-list li .checkbox-label {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.generator--main .generator-form .checkbox-list li .checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #E6E5EA;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.generator--main .generator-form .checkbox-list li .checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 5px;
  border-bottom: 3px solid #24232C;
  border-left: 3px solid #24232C;
  left: 3.5px;
  top: 4.5px;
  transform: rotate(-45deg);
  z-index: 1;
}
.generator--main .generator-form .checkbox-list li .input-checkbox:checked + .checkbox-label::after {
  background-color: #A4FFAF;
  border: none;
}
.generator--main .generator-form .password-strength--contaier {
  padding: 14px 16px;
  box-sizing: border-box;
  background-color: #18171F;
  margin-bottom: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #817D92;
}
.generator--main .generator-form .password-strength--contaier .password-strength-graphic--container {
  display: flex;
  align-items: center;
  gap: 16px;
}
.generator--main .generator-form .password-strength--contaier .password-strength-graphic--container .password-strength {
  font-size: 18px;
  color: #E6E5EA;
}
.generator--main .generator-form .password-strength--contaier .password-strength-graphic--container .password-strength--boxes {
  display: flex;
  align-items: center;
  gap: 8px;
}
.generator--main .generator-form .password-strength--contaier .password-strength-graphic--container .password-strength--boxes div {
  width: 10px;
  height: 28px;
  background-color: #F8CD65;
  box-sizing: border-box;
}
.generator--main .generator-form .password-strength--contaier .password-strength-graphic--container .password-strength--boxes div:last-child {
  background: none;
  border: 2px solid #E6E5EA;
}
.generator--main .generator-form .submit-btn {
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #A4FFAF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*# sourceMappingURL=style.css.map */
